<a href="https://colab.research.google.com/github/SaiPrasannaPanja/my-pythonlabref/blob/main/19A21A05A7_Panja_Sai_Prasanna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Panja.Sai Prasanna
Regno:19A21A05A7
Branch:CSE-B
Subject: python

EXCERSICE-1

 A.WRITE PROGRAM IN INTERACTIVE,INTERPRETER,PYHON SCRIPT MODE.
 
 B.WRITE A PROGRAM TO PURPOSEFULLY WRITE INDENTATION ERROR AND CORRECT IT.

In [ ]:
#1A.
a=28
b=19
a,b=b,a
print(a,b)

19 28

In [ ]:
#1B.WITH INDENTATION ERROR
x=23
if x%2 == 0:
print(x," is even")
else:
  print(x," is odd")

IndentationError: ignored

In [ ]:
#1B.ABOVE PROGRAM WITHOUT INDENTATION ERROR
x=23
if x%2 == 0:
  print(x," is divisible by 2")
else:
  print(x," is not divisible by 2")

23  is not divisible by 2

EXERCISE-2

A.COMPUTE DISTANCE BETWEEN TWO POINTS

B.TAKE TWO NUMBERS ON COMMAND LINE ARGUMENTS AND PRINT THE SUM.

In [ ]:
#2A.
import math
x1=int(input("enter  x1 value:"))
x2=int(input("enter  x2 value:"))
y1=int(input("enter  y1 value:"))
y2=int(input("enter  y2 value:"))
z=math.sqrt((x2-x1)**2+(y2-y1)**2)
print("the distance between two points is :",z)

enter  x1 value:12
enter  x2 value:16
enter  y1 value:19
enter  y2 value:16
the distance between two points is : 5.0

In [ ]:
#2B.
import sys
a=int(sys.argv[1])
b=int(sys.argv[2])

summ=a+b

print("summ of two number is:",summ)

EXCERSCISE-3

A) WRITE A PROGRAM FOR CHECKING WHETHER THE GIVEN NUMBER IS AN EVEN NUMBER OR NOT.

B) USING A FOR LOOP, WRITE A PROGRAM THAT PRINTS OUT THE DECIMAL EQUIVALENTS OF 1/2, 1/3, 1/4, . . .1/10

C) WRITE A PROGRAM USING A FOR LOOP THAT LOOPS OVER A SEQUENCE. WHAT IS SEQUENCE?

D) WRITE A PROGRAM USING A WHILE LOOP THAT ASKS THE USER FOR A NUMBER, AND PRINTS A COUNTDOWNFROM THAT NUMBER TO ZERO

In [ ]:
#3A.
n=int(input("enter a number:"))
if (n%2)==0:
      print("given number is even")
else:
      print("given number is odd")

enter a number:10682
given number is even

In [ ]:
#3B.
n=int(input("enter a number:"))
for i in range(2,n):
    de=1/i;
    print("1/",i,"=",de)

enter a number:11
1/ 2 = 0.5
1/ 3 = 0.3333333333333333
1/ 4 = 0.25
1/ 5 = 0.2
1/ 6 = 0.16666666666666666
1/ 7 = 0.14285714285714285
1/ 8 = 0.125
1/ 9 = 0.1111111111111111
1/ 10 = 0.1

In [ ]:
#3C.
#program using for that loops over a sequence
print("loop sequence")
    
arr=[34.5,55,'GEMS',True,'A']
for x in arr:
      print(x)

loop sequence
34.5
55
GEMS
True
A

In [ ]:
#3D.
#countdown seq
n=int(input("enter the numbr:"))
while n>=0:
      print(n)
      n=n-1

enter the numbr:10
10
9
8
7
6
5
4
3
2
1
0

EXCERCISE-4 

A) FIND THE SUM OF ALL THE PRIMES BELOW TWO MILLION .

B)EACH NEW TERM IN THE FIBONACCI SEQUENCE IS GENERATED BY ADDING THE PREVIOUS TWO TERMS. BYSTARTING WITH 1 AND 2, THE FIRST 10 TERMS WILL BE: 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
 BY CONSIDERING THE TERMS IN THE FIBONACCI SEQUENCE WHOSE VALUES DO NOT EXCEED FOUR MILLION,FIND THE SUM OF THE EVEN-VALUED TERMS.

In [ ]:
#4A.
n=int(input("enter a number:"))
 
st=""
summ=0
 
for i in range(2,n):
 state=True
 for j in range(2,i):
  if(i%j==0):
        state=False
        break;
 if state==True:
            st+=" "+str(i)
            summ+=i
 
print("prime numbers: ")
print(st)
print("sum of all prime nums:",summ)

enter a number:100
prime numbers:
 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
sum of all prime nums: 1060

In [ ]:
#4B.
n=int(input("enter a num:"))
a=0
b=1
c=a+b
sum=0

print("even numbers in fibonnacci series is:",end='')
while c<=n:
    if c%2==0:
      print(c,end=' ')
      sum+=c        
    a=b
    b=c 
    c=a+b
print("\nsum of fibonnacci series is:",sum)

enter a num:10
even numbers in fibonnacci series is:2 8
sum of fibonnacci series is: 10

EXCERCISE-5

DS

A) WRITE A PROGRAM TO COUNT THE NUMBERS OF CHARACTERS IN THE STRING AND STORE THEM IN A DICTIONARY DATA STRUCTURE

B) WRITE A PROGRAM TO USE SPLIT AND JOIN METHODS IN THE STRING AND TRACE A BIRTHDAY WITH A DICTIONARY DATA STRUCTURE.

In [ ]:
#5A.
name=input("enter a name:")
dic={}
for ch in name:
    keys=dic.keys()
 
    if(ch in keys):
        dic[ch]=dic[ch]+1
    else:
        dic[ch]=1
 
print("dictionarry is:",dic)

enter a name:saiprasanna
dictionarry is: {'s': 2, 'a': 4, 'i': 1, 'p': 1, 'r': 1, 'n': 2}

In [ ]:
#5B.
dob={"sam":"19-05-2008","sandy":"14-04-2002"}
name=input("enter which person dob u want:")
l=name.split()
birth=""
for i in l:
    if i in dob.keys():
        pers=i
 
print("".join([pers," birthday is:",dob[pers]]))

enter which person dob u want:sandy
sandy birthday is:14-04-2002

EXERCISE-6 

DS - CONTINUED

A) WRITE A PROGRAM COMBINELISTS THAT COMBINES THESE LISTS INTO A DICTIONARY.

B) WRITE A PROGRAM TO COUNT FREQUENCY OF CHARACTERS IN A GIVEN FILE. CAN YOU USE CHARACTER FREQUENCY TO TELL WHETHER THE GIVEN FILE IS A PYTHON PROGRAM FILE, C PROGRAM FILE OR A TEXT FILE?

In [ ]:
#6A.
sub=["daa","os","dbms","p&s","ppl","se"]
marks=[85,97,65,65,83,56]
print(sub)
print(marks)
dic=dict(zip(sub,marks))
print(dic)

['daa', 'os', 'dbms', 'p&s', 'ppl', 'se']
[85, 97, 65, 65, 83, 56]
{'daa': 85, 'os': 97, 'dbms': 65, 'p&s': 65, 'ppl': 83, 'se': 56}

In [ ]:
#6B.
filetypes=['.py','.c','.txt']
fn=input("enter a file name:")
f=open(fn,"r")
count=dict()
for  ft in filetypes:
     if(ft in  fn):
           if(ft==".py"):
             print("python file")
           elif(ft==".c"):
             print("cfile")
           elif(ft==".txt"):
             print("text file")
 
 
for line in f:
     for ch in line:
          if ch in count:
               count[ch]=count[ch]+1
 
          else:
              count[ch]=1
 
 
print(count)
f.close()

EXCERCISE-7

FILES

A) WRITE A PROGRAM TO PRINT EACH LINE OF A FILE IN REVERSE ORDER.

B) WRITE A PROGRAM TO COMPUTE THE NUMBER OF CHARACTERS, WORDS AND LINES IN A FILE.

In [ ]:
#7A.
obj=open("sam.txt","r")
if obj:
    st=obj.read()
    print("file content is:")
obj.close()
print()
lines=st.split('\n')
for ln in lines:
    i=len(ln)-1
    while(i>=0):
      print(ln[i],end='')
      i=i-1
    print()

In [ ]:
#7B.
obj=open("sam.txt","r")
if obj:
    st=obj.read()
    print("file content is:")
obj.close()
print()
nc=nw=nl=0
for ch in st:
    if(ch):
        nc=nc+1
    if(ch==''):
        nw=nw+1
    if(ch=='\n'):
        nl=nl+1
 
print("number of characters in a file:",nc)
print("number of words in file is:",nw)
print("number of lines ins file:",nl)

EXCERCISE-8

FUNCTIONS

A) WRITE A FUNCTION BALL COLLIDE THAT TAKES TWO BALLS AS PARAMETERS AND COMPUTES IF THEY ARECOLLIDING. YOUR FUNCTION SHOULD RETURN A BOOLEAN REPRESENTING WHETHER OR NOT THE BALLS ARECOLLIDING. HINT: REPRESENT A BALL ON A PLANE AS A TUPLE OF (X, Y, R), R BEING THE RADIUS IF (DISTANCE BETWEEN TWO BALLS CENTERS) <= (SUM OF THEIR RADII) THEN (THEY ARE COLLIDING)

B) FIND MEAN, MEDIAN, MODE FOR THE GIVEN SET OF NUMBERS IN A LIST

In [ ]:
#8A.
import math
def ballcollide(b1tup,b2tup):
    x1=b1tup[0]
    y1=b1tup[1]
    x2=b2tup[0]
    y2=b2tup[1]
    r1=b1tup[2]
    r2=b2tup[2]
 
 
    d=math.sqrt((x2-x1)*2+(y2-y1)*2)
    if(d<=r1+r2):
      return True
    else:
        return False
 
 
ball1=(1,2,3)
ball2=(3,2,1)
c=ballcollide(ball1,ball2)
if(c):
    print("balls are collided")
else:
    print("ball are not collided")

balls are collided

In [ ]:
#8B.
def list_mean(num_list):
   return sum(num_list)/len(num_list)

def list_median(num_list):
    num_list.sort()
    n=len(num_list)
    mid=n//2
    if(n%2==1):
        return num_list[mid]
    else:
        return (num_list[mid-1]+num_list[mid])/2

def list_mode(num_list):
    num_list.sort()
    temp=[]

    i=0
    while i<len(num_list):
        temp.append(num_list.count(num_list[i]))
        i+=1

    dic=dict(zip(num_list,temp))
    mode={k for (k,v) in dic.items() if v==max(temp)}
    return mode

lst=[1,1,2,2,2,3,4,5,3]

print("mean of given list:",list_mean(lst))
print("median of given list:",list_median(lst))
print("mode of given list:",list_mode(lst))

EXERCISE - 9

 FUNCTIONS - CONTINUED

A) WRITE A FUNCTION NEARLY EQUAL TO TEST WHETHER TWO STRINGS ARE NEARLY EQUAL. TWO STRINGS A AND BARE NEARLY EQUAL WHEN A CAN BE GENERATED BY A SINGLE MUTATION ON B.

B) WRITE A FUNCTION DUP TO FIND ALL DUPLICATES IN THE LIST.

C) WRITE A FUNCTION UNIQUE TO FIND ALL THE UNIQUE ELEMENTS OF A LIST.

In [ ]:
#9A.
def nearlyeq(str1,str2):
    count=0
    i=j=0
    ss=0
    while(i<len(str1)and j<len(str2)):
        if(str1[i]!=str2[j]):
            count+=1
        if(len(str1)>len(str2)):
            i+=1
 
        elif(len(str1)==len(str2)):
            pass
        else:
            i-=1     
        if(count>1):
             ss-=1
             
        i+=1
        j+=1
        if(count<2):
             ss+=1
 
    return ss
s1=input("enter a string 1:")
s2=input("enter the string2:")
t=nearlyeq(s1,s2)
if(t>1):
    print("neraly equal0")
else:
    print("not nearly equal")

enter a string 1:STRESS BUSTER
enter the string2:STRES BUSTER
not nearly equal

In [ ]:
#9B.
def dup(list):
  list1=[]
  for i in list:
    count=list.count(i)
    if(count>1 and (i not in list1)):
        list1.append(i)
        
  print("the dups in the list are:",list1)        
list2=[1,2,1,2]
 
dup(list2)

the dups in the list are: [1, 2]

In [ ]:
#9C.
def unique(list1):
  list2={}
 
  for i in list1:
    c=list1.count(i)
    if c==1:
      list2[i]=c
  print("the unique elements in the list are:",list2)
 
list=[1,2,3,45,45,6,88,88,9]
unique(list)

the unique elements in the list are: {1: 1, 2: 1, 3: 1, 6: 1, 9: 1}

EXERCISE - 10 

FUNCTIONS - PROBLEM SOLVING

A) WRITE A FUNCTION CUMULATIVE PRODUCT TO COMPUTE CUMULATIVE PRODUCT OF A LIST OF NUMBERS.

B) WRITE A FUNCTION REVERSE TO REVERSE A LIST. WITHOUT USING THE REVERSE FUNCTION.

C) WRITE FUNCTION TO COMPUTE GCD, LCM OF TWO NUMBERS. EACH FUNCTION SHOULDN’T EXCEED ONE LINE

In [ ]:
#10A:
def cumulative_product(list1,n):
    list2=[]
    i=0
    list2.append(list1[i])
    for i in range(1,n):
        v=list1[i]*list2[i-1]
        list2.append(v)
        
    print(list2)
list3=[]
n=int(input("enter size :"))
print("enter the data:")
for i in range(0,n):
    x=int(input())
    list3.append(x)
cumulative_product(list3,n)

enter size :3
enter the data:
1
2
3
[1, 2, 6]

In [ ]:
#10B.
def reverse_list(numlist):
    temp=list1[::-1]
    numlist=temp
    return temp
list1=[1,2,3,4]
print("giiven list is :",list1)
print("after reversing the list:",reverse_list(list1))

giiven list is : [1, 2, 3, 4]
after reversing the list: [4, 3, 2, 1]

In [ ]:
#10C:
gcd=lambda a,b: a if b==0 else gcd(a,a%b)
lcm=lambda a,b: (a*b)/gcd(a,b)
 
x=4
y=24
print("gcd=",gcd(x,y))
print("lcm=",lcm(x,y))

gcd= 4
lcm= 24.0